<p class="info-contact" style="font-size: 35px;">INFORMATII CONTACT</p>
<p style="text-align: center; font-size: 30px;"><img id="suna" src="imagini/suna.png" alt="suna" style="width:45px;height:40px;">0311 301 260
    <img id="email" src="imagini/email.png" alt="email" style="width:40px;height:40px;">contact@stomatomed.ro</p>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
<script type='text/javascript'>
$(document).ready(function() {
  $('li a').removeClass('active');
  $('.contact').addClass('active');
});
</script>