<main style="padding: 20px;">
<% if (utilizator!=undefined) { %>
    <% if (utilizator!='admin') { %>
        <aside class="doctors" style="float: right;"> 
            <img src="imagini/image.png" style="width: 300px; border-radius: 5px;"><img>
            <img src="imagini/stomatologie.jpg" class="stomImg"><img>
        </aside>
        <div style="width:400px">
        Clinica stomatologica StomatoMed reuneste o echipa medicala formata din specialisti cu vasta experienta, care iti ofera solutii moderne si complexe de tratament, ce te ajuta sa iti recapeti sanatatea dentara si zambetul dorit, pentru ca tu sa iti traiesti viata din plin.
        In cadrul StomatoMed, fiecare ramura a medicinei dentare are un cabinet stomatologic dedicat, unde echipa noastra de medici profesionisti te asteapta pentru a te trata cu grija, transparenta si onestitate.
        </div>
        <% } else { %>
        Din meniul <a method="GET" href="/admin" >Cereri de programari</a> poti confirma sau sterge cererile clientilor.
    <% } %>
<% } else { %>
<a class="autentificare" href="/logare" action="/logare" method="GET">AUTENTIFICARE</a>
<a class="inscriere" href="/inscriere" action="/inscriere" method="GET">INSCRIERE</a>
<% } %>
</main>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
<script type='text/javascript'>
$(document).ready(function() {
  $('li a').removeClass('active');
  $('.acasa').addClass('active');
});
</script>