<main style="padding:20px;">
<% if (mesaj!=undefined) { %>
    <p style="color: tomato;"> <%= mesaj %>!</p>
<% } %>
<form id="logare" action="/verificare-logare" method="POST">
    <label for="username">Username:</label><br>
    <input type="text" id="username" name="user"><br>
    <label for="password">Password:</label><br>
    <input type="password" id="password" name="pass"><br>
    <input type="submit" value="Submit"  />
</form>
</main>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
<script type='text/javascript'>
$(document).ready(function() {
  $('li a').removeClass('active');
  $('.acasa').addClass('active');
});
</script>