<main style="align-self: center;">
    <aside class="doctors" style="float: right;"> 
        <img src="imagini/doctors.jpg" style="width: 400px; float: right; border-radius: 5px;"><img><br><br>
        <img src="imagini/associate-dentists.jpg" style="width: 400px; float: right; border-radius: 5px;"><img>
    </aside>
<form id="programare" action="/programari" method="POST">
    <label for="data">Data:</label><br>
    <input type="date" id="data" name="data"><br>
    <label for="comentariu">Comentariu:</label><br>
    <input type="text" id="comentariu" name="comentariu"><br>
    <input type="submit" value="Submit"  />
    <img src="imagini/image.png" style="width: 300px;"><img>
</form>
</main>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
<script type='text/javascript'>
$(document).ready(function() {
  $('li a').removeClass('active');
  $('.noua').addClass('active');
});
</script>
