<br><br><br>
<div style="padding:20px">
    <aside class="doctors" style="float: right;"> 
        <img src="imagini/doctors.jpg" style="width: 400px; float: right; border-radius: 5px;"><img><br><br>
        <img src="imagini/associate-dentists.jpg" style="width: 400px; float: right; border-radius: 5px;"><img>
    </aside>
<table class="servicii" style="width: 60%;">
    <tr><th>Monopera</th><th>Pret</th></tr>
    <% for(var serviciu of servicii){ %>
        <tr class='servicii'><td><%=serviciu.manopera %></td><td><%=serviciu.pret %> RON</td></tr>
        <% } %>
</table>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
<script type='text/javascript'>
$(document).ready(function() {
  $('li a').removeClass('active');
  $('.servicii').addClass('active');
});
</script>