<main style="padding: 20px;">
<div class="flex-container">
    <div style="flex-grow: 1"><iframe width="300" src="https://www.youtube.com/embed/YnV7P9En3mg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></iframe>
    </div>
    <div style="flex-grow: 1;"><iframe width="300" src="https://www.youtube.com/embed/UkZur9XLgkc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div style="flex-grow: 1"><iframe width="300" src="https://www.youtube.com/embed/4hkqzruInWc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div style="flex-grow: 1"><iframe width="300" src="https://www.youtube.com/embed/WXRnpjIMbVk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
  </div>
</main>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
<script type='text/javascript'>
$(document).ready(function() {
  $('li a').removeClass('active');
  $('.video').addClass('active');
});
</script>