@import url('https://fonts.googleapis.com/css?family=Poppins:20');
body{
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
    background-color: white;
}
header 
{ 
    position:relative;
    max-width: 1200px;
    margin: 20px auto;
    padding: 10px;
    background: #fff;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
}
/* .logo
{
    color: #069370;
    height: 50px;
    font-size: 36px;
    line-height: 60px;
    padding: 0 20px;
    background: #ccc;
    text-align: center;
    box-sizing: border-box;
    float:left;
    font-weight: 700;
    text-decoration:none;
} */
nav{
    float: right;
}
div.clearfix {
    clear: both;
}
nav ul{
    margin: 0;
    padding: 0;
    display: flex;
}
nav ul li{
    list-style:none;
}
nav ul li a 
{
    display: block;
    margin: 10px 0;
    padding: 10px 20px;
    text-decoration: none;
    color : #262626;
}
header nav ul li a.active,
header nav ul li a:hover {
    background: #069370;
    color: #fff;
    transition: 0.5s;
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
    margin:10px;
  }
h2{
    color:teal;
}
/*
body {
    background-image: url("imagini/image.png");
    background-repeat: no-repeat;
    background-size:20em;
    background-position-x: center;
    background-position-y: top;
}*/
img {
    opacity: 1;
}
form{
    border-style: groove;
    border-color: aquamarine;
    width: fit-content;
    margin-left: 40px;
}
.stomImg{
    width: 500px;
    float: right;
    border-radius: 10px;
    opacity: 0.4;
}
#log, .par {
    border-style: groove;
    border-color: peru;
    width: fit-content;
    margin-left: 40px;
}
.user{
    color:firebrick;
}
button{
    background-color:peru;
}
table.servicii{
    font-family: Georgia, serif;
    border: 6px solid #24943A;
    background-color: #D4EED1;
    text-align: center;
    padding: 3px 2px;
    font-size: 13px;
    border-radius: 5px;
}
table.servicii td {
    padding: 4px 5px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: rgb(9, 62, 87);
  }
table.servicii th {
    padding: 7px 5px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: rgb(3, 30, 43);
    margin-bottom: auto;
  } 
.doctors{
    float: right;
}
img{
    padding-top: 20px;
}
.autentificare, .inscriere{
    font-size: 20px;
    color: firebrick ;
    font-weight: lighter;
    padding:16px;
    vertical-align: center;
    text-decoration: none;
}
.autentificare:hover, .inscriere:hover {
    font-size: 21px;  
    color: rgb(63, 14, 7)
  }
footer{
    padding:20px;
    padding-top: 20px;
    font-size:12px;
}
.info-contact, .suna, .email
{
    text-align:center;
}
.panel, .flip {
    text-align: center;
    background-color: #eed3cc;
    border: solid 1px #c3c3c3;
  }
  
  .panel {
    font-style: italic;
    font-size: 12px;
    padding: 2px;
    display: none;
  }